<%- include('partials/header') %>

  <!-- Page Content -->
  <main class="container container-main">

    <div class="row">

      <%- include('partials/leftMenu') %>

      <section class="col-lg-9">

        <div class="row">
          <% for (const figurine of figurines) { %>
          <article itemscope itemtype="http://schema.org/Product" class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a itemprop="url" href="/article/<%= figurine.id %>">
                <img itemprop="image" class="card-img-top" src="/images/<%= figurine.name.toLowerCase() %>.png" alt="Figurine de <%= figurine.name %>">
                <div itemprop="category" class="badge-category badge badge-pill badge-<%= figurine.category.toLowerCase() %>">
                  <%= figurine.category %>
                </div>
              </a>
              <div class="card-body">
                <h2 itemprop="name" class="card-title">
                  <a href="/article/<%= figurine.id %>"><%= figurine.name %></a>
                </h2>
                <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="h5">
                  <span itemprop="priceCurrency" content="USD">$</span>
                  <span itemprop="price"><%= figurine.price %></span>
                  <meta itemprop="availability" content="http://schema.org/InStock">
                </div>
                <p itemprop="description" class="card-text"><%= figurine.description %></p>
              </div>
              <div class="card-footer">
                <span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" class="small text-muted">
                  <meta itemprop="ratingCount" content="<%# figurine.nb_reviews %>">
                  <meta itemprop="worstRating" content="1">
                  <meta itemprop="bestRating" content="5">
                  <meta itemprop="ratingValue" content="<%= figurine.note %>">
                  <% for(let i = 0; i < figurine.note; i++) { %>
                  &#9733;
                  <% } %>
                  <% for(let i = 0; i < 5 - figurine.note; i++) { %>
                  &#9734;
                <% } %>
                </span>
                <a href="/bookmarks/add/<%= figurine.id %>" class="link-add-bookmarks">+ Ajouter aux favoris</a>
              </div>
            </div>
          </article>
          <% } %>

        </div>
        <!-- /.row -->

      </section>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </main>
  <!-- /.container -->

  <%- include('partials/footer') %>
